* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    font-size: .3rem;
    display: flex;
    flex-direction: column;
}

section {
    width: 100%;
    height: 100%;
}

.scroll {
    overflow-y: auto;
}

header,
footer {
    width: 100%;
    height: 1rem;
}

header h3 {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: rgb(0, 102, 255);
    color: #fff;
}

footer {
    width: 100%;
    height: 40px;
    background: #08c;
}

footer ul {
    width: 100%;
    height: 100%;
    display: flex;
}

footer ul li {
    width: 33.3%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    color: #fff;
}